<head>
    <meta charset="UTF-8">
    <title>symulator</title>
</head>

{% extends "base.html" %}

<body>
    {% block 'content' %} <!-- nadpisuje block 'content' z base.html -->
    <h1>
        Symulator zwierzęcej percepcji dźwięku
    </h1>
    wyślij próbkę dźwięku, którą chcesz przetworzyć
    <br />
    <br />
    <form method="post" action='' enctype="multipart/form-data">
        {% csrf_token %}  <!-- Cross Site Request Forgery -->
        <table>
            {{ form.as_table }}
        </table>
        <br><button type="submit">Wyślij</button>
        {% csrf_token %}
    </form>
    {% endblock %}
</body>



